.tasklist {
  padding: 8px;
  background-color: #57b988;
  border-radius: 2px;
}
  
.tasklist .title {
  padding: 4px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
  
.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 8px;
  border: 2px solid rgb(0, 73, 0);
  border-radius: 10px;
  background-color: #9afa87;
}
.btn:hover {
  background-color: #76bb68;
  cursor: pointer;
}

.empty-list {
  text-align: center;
  border: 1px dashed #fff;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}